.main-container{
  align-content: center;
  width:100%;
  height:2024px;
  display: block;
  justify-content: center;
  background-color: darkgrey;
}
.leaflet-container{
  margin-left: 150px;
  width: 60vw;
  height:80vh;
}
